<% unless @contents.nil? %>
  <div class="tr">

  <% sum = @contents.count  %>

  <% @contents.each do |content| %>

    <% if content.is_published? || params[:preview] %>

      <% sum = sum -1 %>

      <% if sum.modulo(2) == 0 %>

          <div class="span-10 prepend-1 last">

            <%= render "contents/cms/content",:content => content %>

          </div>

        </div>
      <% else %>

        <div class="span-10 prepend-1">

          <%= render "contents/cms/content",:content => content %>

        </div>

      <% end %>

    <% end %>

  <% end%>
<% end %>
