body {
  background-color: #336699;
  font-size: 11px;
  line-height: 21px;
  font-family: Verdana,Arial,Helvetica;
   /*alink:   #006699;*/
}
A:link { text-decoration: none; color: #FFFF00; margin: 0; padding: 0; }
A:visited { text-decoration: none; color: #FFFF00; margin: 0; padding: 0; }
A:hover { text-decoration: underline; color: #FFFF00; margin: 0; padding: 0; }
A:active { text-decoration: underline; color: #CCCC99; margin: 0; padding: 0; }

h1 {  font-size: 14pt;  color: #336699; font-style: italic; }

h2 {  font-size: 12pt; color: #336699; font-weight: lighter;  }

h3 {  font-size: 8pt; color: #336699; font-weight: bold; }

img { margin: 0; padding: 0; }

span.text1
{
  font-size: 12px;
  color: #cccc99;
  line-height: 18px;
  font-family: Verdana,Arial,Helvetica;
}

span.text
{
  font-size: 11px;
  color: #333333;
  line-height: 21px;
  font-family: Verdana,Arial,Helvetica;
  width:  250;
}

span.sub
{
  font-size: 11px;
  font-style: inherit;
  color: #CCCC99;
  line-height: 21px;
  font-family: Verdana,Arial,Helvetica;
  width: 575;
  text-align: left;
}


span.text4
{
  font-size: 11px;
  color: #663333;
  line-height: 20px;
  font-family: Verdana,Arial,Helvetica;
}


span.css
{
  font-size: 12px;
  color: #000000;
  line-height: 21px;
  font-family: Courier New,Courier;
}

.sb {
   scrollbar-3dlight-color:#FFFF00;
   scrollbar-arrow-color:#FFFF00;
   scrollbar-base-color:#336699;
   scrollbar-darkshadow-color:#FFFF00;
   scrollbar-face-color:#336699;
   scrollbar-highlight-color:#336699;
   /*scrollbar-shadow-color*/
}

div.table {
  display: inline-table;
  margin:  0;
  padding:  0;
}

div.tr {
  display: table-row;
  margin: 0;
  padding: 0;
  width: 575px;
}

div.tr_titles {
  display: table-row;
  margin: 0;
  padding: 0;
  width: 575px;
  position: absolute;
  top: 6em;
  left: 40em;
}

div.tr_next {
  display: table-row;
  margin: 0;
  padding: 0;
  width: 100%;
}

div.tr_image {
  display: table-row;
  background-color: #CCCC99;
  width: 575px;
}

div.td_image {
  width: 45px;
  float: left;
}

div.td_space {
  width: 575px;
  float: left;
}

div.td_titles {
  width: 95px;
  float: left;
  display: table-cell;
  margin-left: 0.25em;
}

div.td_titles > a {
  font-size: 8pt;
  font-weight: bold;
  color: #336699;
}

div.subnavi {
  width:  575px;
  margin:  0;
  padding: 0;
  text-align: left;
}

div.content {
   background-color: #CCCC99;
   margin: 0;
   padding: 0;
   width: 575px;
}

div.td {
  display: table-cell;
  valign: top;
  width: 250px;
  padding: 0.5em;
  text-align: left;
  vertical-align: top;
}

div.td_content {
  display: table-cell;
  valign: top;
  width: 250px;
  padding: 1.5em;
  text-align: left;
  vertical-align: top;
}

img {
  border: none;
}

/*formtastic*/
fieldset {
  border: none;
}

fieldset.inputs > ol {
  list-style-type: none;
  float: left;
}

fieldset.buttons > ol {
  list-style-type: none;
}

label {
  /*float: left;*/
  vertical-align: text-top;
  line-height: 2.5;
  horizontal-align: left;
  display: inline-block;
}

ol {
  margin-left: 1em;
  
}

input {
  float: right;
  margin-right: 4em;
  line-height: 1.5;
}

input#remember_me {
  margin-right: 12em;
  vertical-align: bottom;
}

textarea {
  float: right;
  margin-righ: 0em;
  line-height: 1;
}

li.string_optional {
  margin-bottom: 2em;
}

li.file.optional {
  list-style-type: none;
}

li.file.optional > label {
  margin-left: 14em;
}

li.file.optional > input {
  padding-right: 7em;
}

li.content_image_input.file.optional > label {
  text-align: left;
}

li.commit > input {
  margin-right: 27em;
}

select {
  margin-right: 15em;
}
