cloth_app/.bundle/config
cloth_app/db/*.sqlite3
cloth_app/log/*.log
cloth_app/config/database.yml
cloth_app/config/initializers/site_keys.rb
cloth_app/public/system
cloth_app/doc/*
cloth_app/export/*
cloth_app/test/*
