<%
# Titel:  Anschriften Verwaltung,dh. Hinzufügen von neuen Anschriften und
#         Anzeige aller Anschriften des Nutzers
# Autor:  Claudia Pfeil
# Datum:  23.11.10
%>

<h3><%= I18n.t(:profiles_addresses)%> </h3>
<p align="right">
  <% if can? :create, Address %>
    <%= link_to I18n.t(:new_address), new_address_path %>
  <%end%>
</p>

<% if @profile.addresses.count.to_i == 0  %>
    <%= render "form_address" %>
<% else %>
  <% @profile.addresses.each do |address| %>
    <%= render "form_address" %>
  <% end %>
<% end %>