<%= render "addresses"  %>
</hr>
<% unless @profile.new_record? %>
  <%= render "history", :profile => @profile %>
<% end %>
</hr>

<%= render "profile", :@profile => @profile %>

<p align="center"><%= link_to I18n.t(:back), profiles_path %></p>