<%
# Titel:  Template für die Bestell-History des Kunden
# Author: Claudia Pfeil
# Datum:  23.11.10
%>
<div class="tr span-22">

  <div class="td first">&nbsp;</div>
  <div class="td span-22">
    <h3><%= I18n.t(:history) %></h3>
    <%= render "packages_history", :profile => profile %>
    </hr>
    <%= render "orders_history", :profile => profile %>
  </div>
  <div class="td last">&nbsp;</div>  
  
</div>

