<%#
# Titel:  Info-Box für Nutzer
# Autor:  Claudia Pfeil
# Datum:  24.11.10
%>
<div class="notice">
    <p><%= more_cartons?(profile) if profile.option %></p>
    <p><%= packages_konto(profile) if profile %></p>
</div>

