<%#
# Titel:  Info-Box für Nutzer
# Autor:  Claudia Pfeil
# Datum:  24.11.10
%>
<div class="notice">
  <h3><%= I18n.t(:infos)%> </h3>
    <p><%= more_cartons?(profile) unless profile.cartons.nil? %></p>
    <p><%= cartons_konto(profile) unless profiel.cartons.nil? %></p>
</div>

