<%#
# Titel:  Info-Box für Nutzer
# Autor:  Claudia Pfeil
# Datum:  24.11.10
%>
<div class="notice">
  <h3><%= I18n.t(:infos)%> </h3>
  <%#= profile.option.cartons > profile.cartons ||  profile.option.cartons == profile.cartons ? link_to(I18n.t(:order_more_cartons), order_cartons_profile_path)  : "" %>
  <%= package_konto(profile) %>
</div>

