<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<% if (current_user.is? :admin) %>

  <% @profiles.each do |profile| %>
    <div class='tr span-22'>
      <div class='td first'>&nbsp;</div>
      <%= render "submenue", :profile => profile, :@table_cols => @table_cols %>
    </div>
  <% end %>

<% else %>

  <div class='tr span-22'>
    <div class='td first'>&nbsp;</div>
    <%= render "submenue", :profile => current_user, :@table_cols => @table_cols %>
  </div>

<% end %>
