<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% if @profile.orders.count > 1  %>
  <% @profile.orders.each do |order| %>
    <% model = Order.find_by_id(order.id) %>
    <div class="tr span-22">
      <%  @table_cols.each do |name| %>
        <div class='td span-3'><%= model.attributes[name.to_s]%> </div>
      <% end %>
    </div>
  <% end %>

<% else %>
  <div class="tr span-22">
    <%  @table_cols.each do |name| %>
      <div class='td span-3'><%= Order.find_by_id(@profile.orders.first.id).attributes[name.to_s] %> </div>
    <% end %>
  </div>
<% end %>
