<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%  @table_cols.each do |name| %>
  <div class='td span-4'><%= create_list_view(profile, name)%> </div>
<% end %>

<div class='td last span-2'>
  <% if can? :update, Profile %>
    <%=  link_to I18n.t(:edit), edit_profile_path(profile) %>
  <% end %>
  
  <% if can? :destroy, Profile %>
    <%=  link_to I18n.t(:delete), profile, :confirm => I18n.t(:confirm_profile) , :method => 'delete' if ( ((current_user.is? :admin) || profile.id.to_i == current_user.id.to_i ) && profile.state != 'deleted')%>
  <% end %>

  <% if can? :create, Profile %>
    <%= link_to I18n.t(:activate), reactivate_user_path(profile), :class => 'reactivate' if ((current_user.is? :admin) && profile.state == 'deleted') %>
  <% end %>

</div>
