<%#
# Titel:    Anzeige der aktuellen Charity-Spende
# Beschreibung: Höhe der Charity-Spende des aktuellen Umsatzes (15% vom Erlös)
%>
<div id="charity" style="display: none">
  <%= get_charity_donation %>
</div>

