<div class="tr">
  <% @welcome.each do |welcome| %>
  <div class="td">
     <h1><%= welcome.title %></h1>
    <h2><%= welcome.subtitle %> </h2>

    <p>
      <%= welcome.article %>
    </p>

    <p>
      <%= image_tag(welcome.image.to_s, :size => "200x150")%>
    </p>
  </div>
   
<% end %>
</div>



