<%#
# Titel:  Mitgliedschaft auswählen
# Autor:  Claudia Pfeil
# Datum:  25.11.2010
%>

<%#*Formular soll an User#edit geschickt werden%>
 
<div class="tr span-22">
  <div class="td first">&nbsp;</div>
  <div class="td spna-21"><%= render "choose_membership", :upgrade => false %></div>
  <div class="td last">&nbsp;</div>
</div>
 