<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<%= link_to 'Über uns', info_path, :class => "footer" %>
<%= link_to 'Kontakt', contact_path, :class => "footer" %>
<%= link_to 'AGB', agb_path, :class => "footer" %>
<%= link_to 'Rechtliches', rights_path, :class => "footer" %>
<%#*<a href="#" class="footer" onfocus="this.blur()">Affilates</a>%>
