<%# "_bill_footer.html" %>


<div class="span-4 td no-margin-right font-small">
  <ol>
    <li>Schwab & Auber GbR</li>
    <li>Dieselstraße 1/2</li>
    <li>71706 Markgröningen</li>
  </ol>
</div>

<div class="span-5 td no-margin-right font-small">
  <ol>
    <li>Geschäftsführer: Pascal Auber, Andreas Schwab</li>
    <li></li>
    <li></li>
  </ol>
</div>

<div class="span-5 td no-margin-right font-small">
  <ol>
    <li>Telefon:</li>
    <li>Telefax:</li>
    <li>E-Mail:  info@kidskarton.de</li>
    <li>Website: www.kidskarton.de</li>
  </ol>
</div>

<div class="span-4 td no-margin-right font-small">
  <ol>
    <li>Bankleitzahl: </li>
    <li>Kontonummer:  </li>
    <li>Kreditinstitut: </li>
    <li>Ust.IDNr.: </li>
  </ol>
</div>


