<%= I18n.t("orders") %>

<p align="right">
  <% if can? :create, Order %>
    <%= link_to "New", new_order_path %>
  <%end%>
</p>

<div class="tr">
  <%# @orders.each do |order| %>
    <% Order.column_names.to_a.each do |column| %>
      <div class="td .span-2"><b><%=  I18n.t(column)%></b> </div>
    <% end %>
  <%# end %>
</div>

<% @orders.each do |order| %>
  <div class="tr">
  <% Order.columns.each do |name| %>  
    <div class="td"><%= order.name%> </div>
  <% end %>
  <%#= render '/layouts/submenue', :menue => order %>
  </div>
<% end %>

